.toggle{
    width: 70%;
    height: 900%;
    display: block !important;
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: calc(100% - 70%);
    gap: 8px;
    z-index: 3;
    background-color: #fff;  
    transform-origin: right; 
}


.nav-list{
    padding: 8px ;
    padding-left: 40px;
}

.hidden, .close-accordin{
    display: none;
}

.dot-style {
    height: 8px;
    width: 8px;
    background-color: #cfcdcd;
    padding: 10px;
    border-radius: 50%;
    margin: 5px; /* Added margin for spacing between dots */
}

.active-dot {
    background-color: rgb(79, 42, 109);
}

.dot-style:hover {
    background-color: rgb(79, 42, 109);
}

.bg-blue-400:hover > .fa-arrow-right
{
    transform: translateX(4px);
}

.open-accordin{
    display: block;
}

.open-footer-menu{
    margin-top: 100px;
    margin-right: 100px;
    color: black;
}

.video-hover .group:hover {
    z-index: 20 !important;
    transform: scale(1.1);
}

.video-hover .group {
    transition: z-index 0.3s ease, transform 0.3s ease;
}

.video-width {
    width: 200px !important;
}

.menu-active-con{
    color: rgb(133, 92, 180) !important;
}


